body{
    background-color: black;
    margin: 0px;
}
.contant1{
    width: 90vh;
    height: 58vh;
    background-color: rgb(59, 59, 202);
    border-radius: 30px;
    padding: 0px 0px 0px 25px;
    align-content: center;
    margin: 0px 0px 40px;
}
.image1{
    height: 48vh;
    width: 25vh;
    border-top-left-radius:52%;
    border-end-end-radius:52% ;
    border-end-start-radius:52% ;
    border-top-right-radius: 52%;
}
.contant3{
  display: flex;
  gap: 50px;
}
.contant4{
    color: white;
    font-size: 32px;
    margin: 40px 0px 15px;
}
.contant34{
    color: white;
    font-size: 32px;
    margin: 0px 0px 15px;
}
.contant5{
    color:#fff;
    font-size: 60px;
    margin: 0px 0px 35px ;
}
.contant6{
    width: 40vh;
}
button{
    padding: 15px;
    width: 46%;
    border-radius: 20px;
    color:#fff;
    background-color: rgb(171, 147, 200);
    margin: 6px;
    border: 0px;
}
.contant8{
    width: 92.5vh;
    height: 28vh;
    background-color: rgb(3, 3, 106);
    border-radius: 30px;
}
.contant9{
    width: 92.5vh;
    height: 33%;
    background-color: rgb(210, 77, 176);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    align-content: center;
}
.contant10{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 40px;
    gap: 100px;
}
.contant12{
    height: 10.5vh;
}
.contant11{
    margin: 0px;
}
.contant13{
    color: #fff;
    margin: 6px 0px;
    font-size: 20px;
}
.contant14{
    align-content:center ;
    width: 13%;
    height: 75%;
}
.contant15{
    height: 10vh;
    width: 1px;
    background-color: #fff;
    margin: 19px 0px;
}
.contant16{
    display: flex;
    justify-content: space-between;
    padding: 16px 40px 0px;
}
.contant17{
    width: 75%;
}
.contant18{
    color: rgb(255, 255, 255);
font-size: 50px;
margin: 0px;
height: 9vh;
}
.image3{
height: 3vh;
}
.contant19{
    display: flex;
    gap: 10px;
    margin: 6px 0px;
}
.contant20{
    margin: 0px;
    color: #fff;
    font-size: 20px;
}
.contant21{
    align-content: center;
}
/* .image4{
    height: 2.5vh;
} */
 .contant22{
    height: 37%;
    align-content: center;
 }
 .contant23{
    display: flex;
    gap: 10px;
    /* height: 10%; */
 }
 .contant24{
    margin: 25px 0px 0px ;
 }
 .contant25{
    margin: 28px 0px 0px ;
 }
 .contant26{
    display: flex;
    justify-content: space-between;
 }
 .contant27{
    background-image: url('./1000_F_245101086_p7nRPWK8BaOE6SLSr0a63GOGjDLTwjCb.jpg');
    height: 64vh;
    width: 45vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    align-content: end;
 }
 .contant28{
    display: flex;
    gap: 56px;
    height: 100vh;
    justify-content: center;
    align-items: center;
 }
 .contant29{
    background-color: rgba(0 ,0 ,0, .74);
 }
 .contant30{
    color: #fff;
    font-size: 31px;
    margin: 0px 0px 17px 17px;
    padding: 15px 0px 0px;
 }
 .contant31{
    color: #fff;
    font-size:15px ;
    margin: 0px;
    padding: 0px 0px 14px 17px;
 }
 .contant32{
    width: 45vh;
    height: 25.5vh;
    background-color: #fff;
    border-bottom-left-radius:15px ;
    border-bottom-right-radius:15px ;
 }
 .contant33{
    margin: 0px;
    padding: 15px 24px;
    font-size: 17px;
 }